@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
        padding: 1rem;
}

header {
    grid-template-columns: 44px auto;
}
.hamburger {
    display: none;
}
.navigation {
    display: block;
    border-bottom: 1px solid var(--highlight-color);
}
.navigation ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
nav.navigation ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.navigation li {
    border: none;
    padding: 0.2rem 0.6rem;
}
.navigation.show {
    display: block;
}
.navigation li a {
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    min-height: 48px;
    min-width: 48px;
}
.navigation a {
    padding: 0.8rem;
    text-align: center;
    border: none;
}
.navigation li.current {
    background-color: var(--accent-color2); /* match others */
    border: 2px solid var(--accent-color);
    font-weight: bold;
    color: var(--primary-color);
}

}